.todoItemDiv {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.todoItem {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
}

.btnContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 225px;
  margin-bottom: 10px;
}

.nextBtnContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .todosListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .todoItemDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .todoItem {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;

    span {
      margin-top: 10px;
    }
  }

  .btnContainer {
    display: contents;
  }

  .btnContainer button {
    margin-top: 10px;
    font-size: 16px;
    height: 44px;
    width: 300px;
  }

  .nextBtnContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    button {
      display: block;
      height: 44px;
      font-size: 16px;
      text-align: center;
      margin: 5px;
      width: 300px;
    }
  }
}
